.box {float:left}
#root{max-width:1200px;margin:0 auto}

#staff_lead_1,#staff_lead_2,#staff_lead_3,#staff_lead_4
    {width:46%;padding:5px 10px}

#staff_leads,#staff_admin,#staff_mods,#staff_techs
    {width:100%;margin-top:30px}


#staff_admin_1,#staff_admin_3,#staff_admin_2,#staff_admin_4
    {width:46%;padding:5px 10px}


#staff_techs_1,#staff_techs_2
    {width:46%;padding:5px 10px;margin-bottom:20px;}

#staff_mods_info
    {width:100%;text-align:center;margin-left:auto;margin-right:auto;padding:5px 10px}
#staff_page_intro
    {width:100%}

.staff_row_1,.staff_row_2
    {width:100%;height:100%}

.staffav{padding:0px 0px}

.staffleft{width:120px;float:left;text-align:center;margin-left:auto;margin-right:auto}
.staffright{margin-left:120px;vertical-align:text-top;top:20px}
.staffright a{font-weight: bold;}

.modcol{float:left;width:150px;text-align:center;margin-left:auto;margin-right:auto}
.staffdesc{padding:5px 20px}